@import 'tailwindcss';

@import '../../vendor/livewire/flux/dist/flux.css';
@import "@fontsource/inter";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';
@source '../../storage/framework/views/*.php'; 

@theme { 
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;

    --container-padding-x: 0.75rem;
    --container-padding-y: 0;
    --container-max-sm: 540px;
    --container-max-md: 720px;
    --container-max-lg: 960px;
    --container-max-xl: 1140px;
    --container-max-2xl: 1344px;
} 

@layer components {
    .custom-container {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-left: calc(var(--container-padding-x) * 0.5);
      padding-right: calc(var(--container-padding-x) * 0.5);
      z-index: 100;
    }
  
    @media (min-width: 640px) {
      .custom-container {
        max-width: var(--container-max-sm);
      }
    }
  
    @media (min-width: 768px) {
      .custom-container {
        max-width: var(--container-max-md);
      }
    }
  
    @media (min-width: 1024px) {
      .custom-container {
        max-width: var(--container-max-lg);
      }
    }
  
    @media (min-width: 1280px) {
      .custom-container {
        max-width: var(--container-max-xl);
      }
    }
  
    @media (min-width: 1536px) {
      .custom-container {
        max-width: var(--container-max-2xl);
      }
    }
}
  

@layer components {
    .topbar-info-right {
        @apply gap-[30px];
    }

    .topbar-info-right li::before {
      @apply absolute left-[-16px];
    }

    .theme-light .topbar-info-right a:not(.dropdown-menu a) {
      @apply text-white;
    }
}